@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{    
    width: 100vw;                /*View Width vw- Largura da viewport*/
    height: 100vh;               /*View height wh- Altura da viewport*/
    background-color: #201b2c; /*Cor de fundo*/
    display: flex;               /*display - Exibição /flexível*/
    justify-content: center;     /*alinhamento de acordo com o eixo principal*/
    align-items: center;         /*alinhamento de acordo com o eixo secundario*/
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     /*Define os itens flexíveis são colocados no contêiner flexível, definindo o eixo principal e a direção (normal ou invertido)*/
}
.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;       /*um em cima do outro no contener flexivel*/
    padding: 30px 35px;           /*distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente */
    background-color: #2f2841;
    border-radius: 20px;          /*Tira as pontas quadradas arredondando o campo*/
    box-shadow: 0px 10px 40px #00000056;     /*adicionar efeitos de sombra em volta de um elemento - Você pode especificar mais de um efeito, os separando com virgulas.*/
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;               /*Peso da fonte - uma fonte mas grossa*/
    margin: 0;                      /*Margem*/
}

.textfild{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfild > input {
    display: flex;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;                      /*borda do campo selecionado - none tira a borda*/
    box-sizing: border-box;             /*o limite da campo fica com o tamanho do box*/
}


.textfild > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfild > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;

    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
        
    }

    .card-login{
        width: 90vw;
    }

    
}











/*
O que é viewport em HTML?
Uma viewport representa uma área poligonal (normalmente retangular) que está sendo exibida no momento. Em termos de navegador web, se refere a parte do documento que é exibida na janela (ou tela, se o documento estiver exibido em modo tela-cheia)

wiki https://en.wiktionary.org/wiki/viewport
*/